@font-face {
  font-family: "cascadia-regular";
  src: url("../fonts/cascadia.woff2") format("woff2"),
    url("../fonts/cascadia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
