@import "../fonts/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

heading {
  font-size: 2.5rem;
  //   font-weight: bold;
  font-family: "cascadia-regular";
  letter-spacing: -2px;
  color: #333;
  opacity: 80%;

  display: flex;
  // center everything
  align-items: center;
  justify-content: center;

  height: 40vh;
  a {
    text-decoration: none;
    color: #333;
  }
}

.topic {
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 6rem;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "cascadia-regular";
  // dark purple text color
  color: #350064;
  // center the text
  text-align: center;

  // for morphing animation
  transition: filter 0.5s, transform 0.5s;
}

.reroll {
  font-family: "cascadia-regular";
  text-align: center;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 4rem;
  border-radius: 4px;
  // background-color: #fbfbef;
  // display: none;
  opacity: 0;
  filter: blur(30px); // Initial blur
  transition: opacity 0.5s, filter 1s; // Transition for opacity and blur
  color: black;
}
