@import "../fonts/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

heading {
  font-size: 2.5rem;
  //   font-weight: bold;
  font-family: "cascadia-regular";
  letter-spacing: -2px;
  color: #333;

  display: flex;
  // center everything
  align-items: center;
  justify-content: center;

  height: 30vh;
}

.buttons {
  display: flex;
  // center horizontally and everything vertically
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  a {
    text-decoration: none;
    width: 70%;
    height: 4rem;
    font-family: "cascadia-regular";
    font-size: 1rem;

    // center text horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      border: 2px solid #333;
    }
  }

  a:nth-child(1) {
    background: #e1f5e7;
    color: #475c4c;
  }

  a:nth-child(2) {
    background: #dceafc;
    color: #4a596c;
  }

  a:nth-child(3) {
    background: #ffeeff;
    color: #b085b5;
  }

  a:nth-child(4) {
    background: #ffedd9;
    color: #bd8463;
  }

  a:nth-child(5) {
    background: #f2f4c3;
    color: #798b5f;
  }

  a:nth-child(6) {
    background: #e9e5f3;
    color: #5f4b66;
  }
}
