@import "../fonts/fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "cascadia-regular";

  font-weight: 600;
}

body {
  // Height fix for safari nav bar hidding content
  height: 100svh;
  height: -webkit-fill-available;

  display: grid;
  grid-template-rows: 1fr 2fr;

  padding-bottom: 0.5rem;
}

html {
  height: -webkit-fill-available;
}

heading {
  font-size: 2.25rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.25px;

  letter-spacing: -2px;
  color: #333;

  display: flex;
  // center everything
  align-items: center;
  justify-content: center;

  // height: 30vh;
}

.topic-text {
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 2px;
}

.buttons {
  display: flex;
  // center horizontally and everything vertically
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.45rem;

  a,
  button {
    text-decoration: none;
    width: 80%;
    height: 3.75rem;
    // font-family: "cascadia-regular";
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;

    // center text horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      border: 2px solid #333;
    }
  }

  a:nth-child(1) {
    background: #e1f5e7;
    color: #475c4c;
  }

  a:nth-child(2) {
    background: #ffedd9;
    color: #bd8463;
  }

  a:nth-child(3) {
    background: #e9e5f3;
    color: #5f4b66;
  }

  a:nth-child(4) {
    background: #dceafc;
    color: #4a596c;
  }

  a:nth-child(5) {
    background: #ffeeff;
    color: #8c6190;
  }

  a:nth-child(6) {
    background: #f9e3e2;
    color: #8c2822;
  }

  // For random button

  button {
    font-size: 1.5rem;
  }
}
