@import "../fonts/fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "cascadia-regular";
}

button {
  width: 8rem;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: blue;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  background: linear-gradient(
    to bottom,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: cover;
}
