@import "../fonts/fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "cascadia-regular";
}

body {
  // height fix for safari nav bar hidding content
  height: 100vh;
  height: -webkit-fill-available;

  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

html {
  height: -webkit-fill-available;
}
